<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Tisch Reservierung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Tisch Reservierung</h1>
<form action="#" th:action="@{/table}" th:object="${table}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>von Uhrzeit: <input type="text" th:field="*{from}" /></p>
    <p>bis Uhrzeit: <input type="text" th:field="*{to}" /></p>
    <p>Anzahl Personen: <input type="text" th:field="*{numberOfPersons}" /></p>
    <p>Person Name: <input type="text" th:field="*{personName}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>